__pycache__
.coverage
Pipfile.lock
/build
/dist
/kosmorrolib.egg-info

# Gitpod-specific:
/.vscode/**
poetry.lock

# Used to generate changelog, should not be in the repo:
/package.json
/package-lock.json
/node_modules
